@import "estilosGenerales";
@import "colores";
@import "tipografia";
@import "../components/index";
@import "../components/navbar";
@import "../components/footer";
@import "../components/sobreMi";
@import "../components/curriculum";
@import "../components/proyectos";
@import "../components/alumnos";
@import "../components/vistaProyecto";
@import "../components/contacto";